@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Outfit;
}
:root{
    --c-sblue:hsl(215,51%,70%);
    --c-cyan:hsl(178,100%,50%);
    --c-bg:hsl(217,54%,11%);
    --c-cardbg:hsl(216,50%,16%);
    --c-line:hsl(215,32%,27%);
    --c-white:hsl(0,0%,100%);
}
.container{
    background-color: var(--c-bg);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* colors and states */
p,.c-period{
    color:var(--c-sblue);
}
.c-eth{
    color:var(--c-cyan);
}
h2,span{
    color:var(--c-white);
}
h2:hover,span:hover{
    color:var(--c-cyan);
    cursor: pointer;
}
.card{
    margin:0 auto;
    width: min-content;
    padding: 22px;
    border-radius:15px ;
    background-color: var(--c-cardbg);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.details{
    display: flex;
    justify-content: space-between;
}
.d{
    display: flex;
    align-items: center;
    gap:5px;
}
.line{
    background-color: var(--c-line);
    height: 1px;
    border-radius: 2px;
}
.avatar{
    display: flex;
    align-items: center;
    gap:15px;
}
.avatarimg{
    width: 45px;
    border:2px solid var(--c-white);
    border-radius:50px;
}
.active-state{
    position:absolute;
    width:295px;
    height:295px;
    display: grid;
    place-items:center;
    background-color: rgba(0, 255, 255, 0.486);
    border-radius: 10px;
    opacity: 0;
}

@media (hover:hover){
    .active-state:hover{
        opacity: 1;
    }
}
